body {
    background: linear-gradient(300deg, #011c49, #121e41, #1c7da3);
    background-size: 180% 180%;
    animation: gradient-animation 20s ease infinite;
    font-family: Arial, sans-serif;
    color: #333333;
    position: relative;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

h1 {
    font-size: 35px;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 248;
    font-style: oblique;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

table {
    position: relative;
    width: 100%;
    margin: 66px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.076); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.456);
    z-index: 2; 
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1.2px solid #ffffff7a;
    color: #fff;
}

th {
    background-color: #ffffff0d;
    font-weight: bold;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #01264632;
    color: #fff;
}

tr:hover {
    background-color: #ffffff22;
}

.logo-background {
    position: absolute;
    top: 130%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    width: 100%; 
    text-align: center; 
}

.logo-background img {
    width: 250px;
    height: auto;
}

.logo-background2 {
    position: absolute;
    top: 66.3%; 
    left: 13%; 
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.6; 
    width: 100%; 
    text-align: center;
}

.logo-background2 img {
    width: 300px; 
    height: auto;
}